body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #111;
    color: white;
    padding: 30px;
    text-align: center;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #eee;
    margin: 6px 0;
    padding: 8px;
}

footer {
    text-align: center;
    background: #111;
    color: white;
    padding: 10px;
}
